.doctors {
  &__btn-container {
    display: flex;
    justify-content: center;
  }
  &__select {
    margin-bottom: 12px;
  }
  &__item {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    position: relative;
    width: 256px;
    min-height: 367px;
    background-color: #fff;
    @include media-breakpoint-up(md) {
      min-height: 400px;
      width: 263px;
    }
    &:hover {
      .doctors__info {
        top: 0;
        padding-bottom: 0;
        min-height: 100px;
      }
      .doctors__name {
        padding-top: 0;
      }
      .doctors__about {
        max-height: 440px;
      }
      .doctors__about-wrapper {
        visibility: visible;
        flex-grow: 1;
      }
    }
  }
  &__photo {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 256px;
  }
  &__info {
    position: relative;
    top: 24px;
    display: flex;
    flex-direction: column;
    align-content: center;
    padding: 20px 24px;
    min-height: 112px;
    text-align: center;
    z-index: 3;
    background-color: #fff;
    transition: $transition-base;
    margin-top: auto;
    @include media-breakpoint-up(md) {
      min-height: 136px;
    }
  }
  &__name {
    margin-bottom: 0;
    padding-top: 12px;
    cite {
      font-style: normal;
      font-weight: inherit;
      font-size: inherit;
    }
  }
  &__kind {
    font-size: 14px;
    color: #959595;
    line-height: 1.71;
  }
  &__about-wrapper {
    position: relative;
    flex-grow: 0;
    transition: $transition-base;
    z-index: 2;
    visibility: hidden;
    overflow: hidden;
    background-color: #fff;
  }
  &__about {
    position: relative;
    max-height: 0;
    margin-bottom: 0;
    font-size: 14px;
    text-align: center;
    transition: $transition-base;
    z-index: 2;
    color: #363636;
    padding: 0 24px 24px;
    @include media-breakpoint-up(md) {
      line-height: 1.57;
    }
  }
}
.js-Select {
  display: inline-block;
  position: relative;
}
.js-Dropdown-title {
  border: none;
  border-radius: 20px;
  color: #fff;
  font-size: 11px;
  font-weight: bold;
  line-height: 1.1;
  letter-spacing: 0.3px;
  text-transform: uppercase;
  background-color: $orange;
  overflow:hidden;
  height: auto;
  font-family: Ubuntu, sans-serif;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  padding: 14px 40px 14px 24px;
}
.js-Select-title {
  background: #ffffff;
  border: 1px groove #a5a5a5;
  box-sizing: border-box;
  cursor: pointer;
  font: 400 14px sans-serif;
  height: 3em;
  padding: .5em;
  position: relative;
  text-align: left;
  width: 100%;
}
.js-Select-title:after {
  border-color: #a5a5a5 transparent transparent transparent;
  border-style: solid;
  border-width: 10px 12px;
  content: "";
  display: block;
  height: 0;
  position: absolute;
  right: 1em;
  top: 45%;
  width: 0;
}
.js-Select-list {
  background: #fff;
  border-left: 1px solid #a5a5a5;
  border-right: 1px solid #a5a5a5;
  box-sizing: border-box;
  display: none;
  height: 0;
  list-style: none;
  margin: 0;
  opacity: 0;
  padding: 0;
  position: absolute;
  transition: .2s linear;
  width: 100%;
  z-index: 999;
}
.js-Select-list.is-open {
  display: block;
  height: auto;
  opacity: 1;
}
.js-Select-list li {
  border-bottom: 1px solid #a5a5a5;
  cursor: pointer;
  padding: 1em .5em;
}
.js-Select-list li:hover {
  background-color: #fff5e9;
}
.js-Select-list li.is-selected {
  background-color: #ffdfb6;
}
.js-Dropdown-title:after {
  border-color: #ffffff transparent transparent transparent;
  border-style: solid;
  border-width: 5px 4px;
  content: "";
  display: block;
  height: 0;
  position: absolute;
  right: 24px;
  top: 45%;
  width: 0;
}
.js-Dropdown {
  width: 270px;
}
