extends _template
block main
  +services(servicesChild)
  +video-section()
  +doctors(doctors)
  +statistics()
  +features()
  +order()
  +patients(patients)
  +price()
  +partners(partners)
  +contacts()
