extends _template
block main
  +services(servicesMain)
  +video-section()
  +doctors(doctors)
  +statistics()
  +features()
  +order()
  +patients(patients)
  +awards()
  +modal-request()
  +modal-success()
  +partners(partners)
  +contacts()
