body {
  font: 300 14px/1.57 'Ubuntu', 'PT Sans', sans-serif;
  color: $warm-grey;
  @include media-breakpoint-up(md) {
    line-height: 1.71;
  }
}

a {
  transition: $transition-base;
  &:hover {
    color: $orange;
    text-decoration: none;
  }
}
label {
  margin-bottom: 0;
}
.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

.container {
  padding-right: 24px;
  padding-left: 24px;
  @include media-breakpoint-up(md) {
    padding-right: 32px;
    padding-left: 32px;
  }
}
img {
  max-width: 100%;
  height: auto;
}
h2,
h3,
h4,
.title-large,
.title-medium,
.title-small {
  color: $black;
}

h2, .title-large {
  font-size: 24px;
  line-height: 1.08;
  margin-bottom: 15px;
  font-weight: 400;
  @include media-breakpoint-up(md) {
    margin-bottom: 8px;
    font-size: 28px;
    line-height: 1.64;
  }
  @include media-breakpoint-up(xl) {
    margin-bottom: 16px;
    font-size: 32px;
    line-height: 1.44;
  }
}

h3, .title-medium {
  margin-bottom: 7px;
  font-size: 18px;
  line-height: 1.33;
  @include media-breakpoint-up(md) {
    margin-bottom: 10px;
  }
}

h4 .title-small {
}
.page-wrapper {
  max-width: 1344px;
  margin: 0 auto;
  @include media-breakpoint-up(xl) {
    box-shadow: 0 10px 30px rgba(0,0,0,.15);
  }
}
/*
  This will hide the focus indicator if the element receives focus via the mouse,
  but it will still show up on keyboard focus.
*/
.js-focus-visible :focus:not(.focus-visible) {
  outline: none;
}


.js-to_expand[aria-hidden=true],
.js-to_expand[data-hidden=true] {
  display: none;
}
.subtitle {
  max-width: 920px;
  margin-right: auto;
  margin-left: auto;
}

