@font-face {
  font-family: 'Ubuntu';
  src: url('__static__../fonts/UbuntuLight/UbuntuLight.woff2') format('woff2'),
  url('__static__../fonts/UbuntuLight/UbuntuLight.woff') format('woff'),
  url('__static__../fonts/UbuntuLight/UbuntuLight.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Ubuntu';
  src: url('__static__../fonts/UbuntuRegular/UbuntuRegular.woff2') format('woff2'),
  url('__static__../fonts/UbuntuRegular/UbuntuRegular.woff') format('woff'),
  url('__static__../fonts/UbuntuRegular/UbuntuRegular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Ubuntu';
  src: url('__static__../fonts/UbuntuMedium/UbuntuMedium.woff2') format('woff2'),
  url('__static__../fonts/UbuntuMedium/UbuntuMedium.woff') format('woff'),
  url('__static__../fonts/UbuntuMedium/UbuntuMedium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Ubuntu';
  src: url('__static__../fonts/UbuntuBold/UbuntuBold.woff2') format('woff2'),
  url('__static__../fonts/UbuntuBold/UbuntuBold.woff') format('woff'),
  url('__static__../fonts/UbuntuBold/UbuntuBold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
