mixin order(data)
  section.order
    .container
      .order__inner
        .row.no-gutters
          .col-md-6.col-xl-8
            .order__main
              h2.order__title.title-large Нужна помощь?
              p.order__subtitle Отправьте заявку и&#160;мы&#160;свяжемся с&#160;вами ближайшее время
              form(method="post").order__form.form#order
                .order__row-fields
                  .order__field-wrapper
                    label(for="order-name").visually-hidden Ваше имя
                    input(placeholder="Представьтесь, пожалуйста" required).form__field.form__field--white#order-name
                  .order__field-wrapper
                    label(for="order-mail").visually-hidden Ваш номер телефона
                    input(type="tel" placeholder="Контактный номер телефона*" required).form__field.form__field--white#order-mail
                button.order__submit.button.button--primary.button--xs-expanded(type="submit") отправить заявку
                button.js-order-success.js-modal.hidden(type="button" aria-label="Открыть модальное окно" data-modal-content-id="modal-success" data-modal-prefix-class="request" data-modal-focus-toid="success-close") отправить заявку
              p.order__requirement.
                Нажимая на&#160;кнопку &#171;Отправить заявку&#187;, я&#160;даю свое <a href="#">согласие на&#160;обработку персоналных данных</a> в&#160;соответствии
                с&#160;требованиями Федерального закона от&#160;27.07.2006г. &#8470;&#160;152-ФЗ (ред.&#160;от&#160;29.07.2017) &#171;О&#160;персональных&#160;данных&#187;.
          .col-md-6.col-xl-4.d-md-flex
            .order__img.d-none.d-md-flex
              picture
                img(src="__static__img/general/girl-help.png" role="presentation" alt)

