mixin video-section(data)
  section.video-section
    .container
      .row
        .col-xl-5
          .video-section__common
            h2.video-section__title.title-large Детям у нас не страшно!
            p.expand-more.js-expand-more Врачи умеют успокаивать и&#160;договариваться с&#160;маленькими пациентами, а&#160;кабинеты не&#160;испугают своей стерильной белизной,
              span.expand-more__text.js-to_expand они оформлены в&#160;виде красочных детских комнат. Стоматологическое оборудование Planmeca не&#160;издает звуков, которые так пугают малышей, она лишь отдаленно напоминает бормашину.

            p.expand-more.js-expand-more
              span.expand-more__text.js-to_expand Ваш ребенок может взять с&#160;собой на&#160;прием любимую игрушку, а&#160;если захочет, то&#160;врач включит интересный мультфильм или кинофильм из&#160;нашей коллекции. Если ребенок плохо переносит даже незначительную боль во&#160;время стоматологических процедур, мы&#160;можем предложить разные варианты седации: лечение во&#160;сне, лечение под закисью азота.
              button(type="button").expand-more__button.js-expandmore
                span Показать больше
        .col-xl-7
          .video-section__slider.js-video-slider
            div
              .embed-responsive.embed-responsive-16by9
                div(data-embed="NUvIhjxewN4" data-title="Название видео").youtube.embed-responsive-item
                  button(type="button").youtube__play-button Воспроизвести видео
            div
              .embed-responsive.embed-responsive-16by9
                div(data-embed="NUvIhjxewN4" data-title="Название видео").youtube.embed-responsive-item
                  button(type="button").youtube__play-button



