mixin slide(data)
  .patients__photo
    img(src="__static__img/content/" + data.img + '.jpg' alt=data.alt)
mixin patients(data)
  section.patients
    .container
      h2.patients__title.title-large Наши пациенты
    .slider
      button(type="button" aria-label="предыдущий слайд").slider__arrow.slider__arrow--prev.js-patients-control-prev-slide
      button(type="button" aria-label="следующий слайд").slider__arrow.slider__arrow--next.js-patients-control-next-slide
      .slider__container
        div(role="list").js-slider-patients
          each slide in data
            div(role="listitem")
              +slide(slide)

