.patients {
  padding-top: 32px;
  padding-bottom: 26px;
  border-top: 1px solid #e1e1e1;
  border-bottom: 1px solid #e1e1e1;
  background-color: #f2f2f2;
  @include media-breakpoint-up(md) {
    padding-top: 26px;
    padding-bottom: 34px;
  }
  @include media-breakpoint-up(xl) {
    padding-top: 48px;
    padding-bottom: 64px;
  }
  &__title {
    margin-bottom: 23px;
    text-align: center;
    @include media-breakpoint-up(md) {
      margin-bottom: 27px;
    }
    @include media-breakpoint-up(xl) {
      margin-bottom: 30px;
    }
  }
  .slider__container {
    @include media-breakpoint-up(xl) {
      padding-right: 0;
      padding-left: 98px;
      max-width: 100%;
    }
  }
  &__photo {
    width: 256px;
    @include media-breakpoint-up(md) {
      width: 263px;
    }
  }
}
